* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, rgba(255, 115, 0, 0.878) 45%, rgb(255, 242, 0));
}

input {
 margin-top: 50vh;
 background-color: rgba(253, 181, 0, 0.666);
 border-radius: 2px;
 border: none;
 padding: 7px;
 width: 350px;
}

.search-container .suggestions {
   margin-top: -14px;
}

ul li {
  list-style-type: none;
  margin-left: -41px;
  background-color: rgba(253, 181, 0, 0.666);
  border-radius: 2px;
  border: none;
  padding: 5px;
  width: 350px;
}

ul li:hover {
  background-color: rgb(255, 111, 0);
}
